@import "./assets/styles/_Variables";
@import "./assets/styles/_Mixins";
@import "./assets/styles/_Global";

.section {
  @include center-flexbox(column);
  background-color: $main-bg;
  padding: 0 1rem 3rem 1rem;
  position: relative;
  overflow: hidden;
  .section-content {
    max-width: $max-width;
    width: 100%;
  }

  .section-1-img {
    position: absolute;
    display: flex;
    bottom: -14px;
    left: -84px;
    opacity: 0.1;
    z-index: 1;
    img {
      height: 400px;
      object-fit: cover;
    }
  }

  .section-2-img {
    position: absolute;
    top: 72px;
    right: -48px;
    transform: rotate(45deg);
    img {
      height: 182px;
      object-fit: cover;
    }
  }
}

.sandwich-section,
.reservation-section {
  background-image: url("/images/section-bg.png");
  background-position: center;
}

.sides-section {
  background-image: url("/images/jon-moore-5fIoyoKlz7A-unsplash.png");
  background-position: center;
}
